<BaseButton style="width: 50px;"
            disabled={!$paginationState.previousPageExists}
            on:click="$previousPage()">&larr;</BaseButton>
<div class="page-numbers">
	&nbsp;{$paginationState.currentPage}&nbsp;
</div>
<BaseButton style="width: 50px;"
            disabled={!$paginationState.nextPageExists}
            on:click="$nextPage()">&rarr;</BaseButton>

<script>
  export default {
    components: {
      BaseButton: "./BaseButton.html"
    }
  };
</script>

<style>
  .page-numbers {
    font-size: 1.5rem;
    padding: 0px 2vw 0px 2vw;
  }
</style>