<div class="search-bar">
	<input class="search-input" type="text" bind:value=$searchValue on:keyup="catchEvent(event)" ref:input>
	<button class="search-button" on:click="$newSearch()" ref:button>
		Search
	</button>
</div>

<script>
  export default {
    oncreate() {
      this.refs.input.focus();
      // set search input & button as disabled while loading
      const listener = this.store.on("state", ({ changed, current }) => {
        if (changed.loading) {
          this.refs.input.disabled = current.loading;
          this.refs.button.disabled = current.loading;
        }
      });
      this.on("destroy", listener.cancel);
    },
    computed: {
      notLoading({ $loading }) {
        return !$loading;
      }
    },
    methods: {
      catchEvent({ keyCode }) {
        const enterKeyCode = 13;
        if (keyCode === enterKeyCode) {
          this.store.newSearch();
        }
      }
    }
  };
</script>

<style>
  .search-bar {
    display: flex;
    width: 100%;
    margin-bottom: 5vh;
  }

  .search-input {
    box-shadow: 0 0.5px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.09),
      0 2px 1px -3px rgba(0, 0, 0, 0.06);
    border-radius: 3% 0% 0% 3%;
    margin: 0px;
    width: 100%;

    /* provide a fixed amount of space for the button */
    padding-right: 100px;
  }

  .search-input:focus {
    box-shadow: -1px 1px 3px 1px rgba(101, 39, 112, 0.275),
      -0.5px 0.5px 2px rgba(101, 39, 112, 0.2),
      0 2px 1px -3px rgba(101, 39, 112, 0.12);
  }

  .search-button {
    border-radius: 3%;
    background-color: #652770;
    color: #eee;
    width: 100px;

    /* move the button inside the input */
    margin: 0px 0px 0px -100px;
  }
  .search-button:hover,
  .search-button:focus {
    background-color: #450750;
  }
  .search-button:hover {
    cursor: pointer;
  }
</style>