<div class="search-no-results">
	<div class="no-results-title">
		No books found
	</div>
	<div class="no-results-description">
		No books were found when searching for <i>"{$lastSearch}"</i>.
	</div>
</div>

<style>
  .search-no-results {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 40vh;
    color: #555;
  }
  .no-results-icon {
    font-size: 8rem;
  }
  .no-results-title {
    font-size: 1.5rem;
  }
  .no-results-description {
    font-size: 1rem;
  }
</style>