<a class="search-item"
   in:fade
   href={item.infoLink}
   target="_blank">
	<div class="item-image">
		<img src={item.thumbnail}
		     alt="Cover image for {item.title}">
	</div>
	<div class="item-main">
		<div class="item-title single-line">
			{item.title}&nbsp;
		</div>
		<div class="item-subtitle single-line">
			{item.authors}&nbsp;
		</div>
		<div class="item-description">{item.description}</div>
		{#if item.publisher}
		<div class="item-publisher single-line">
			Published by {item.publisher}
		</div>
		{/if}
	</div>
</a>
<script>
  import { fade } from "svelte-transitions";
  export default {
    transitions: { fade }
  };
</script>
<style>
  .search-item {
    text-decoration: none;
    background-color: #fff;
    color: inherit;
    display: flex;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12);
    margin-bottom: 2vh;
    height: 30vh;
  }

  .search-item:hover {
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4), 0 3px 4px rgba(0, 0, 0, 0.23),
      0 4px 2px -3px rgba(0, 0, 0, 0.24);
  }

  .search-item:focus {
    outline: none;
    box-shadow: 0 4px 8px rgba(101, 39, 112, 0.5),
      0 4px 5px rgba(101, 39, 112, 0.35), 0 5px 3px -4px rgba(101, 39, 112, 0.35);
  }

  .item-image {
    align-self: center;
    text-align: center;
    flex-basis: 25%;
    min-height: 15vh;
  }

  .item-image > img {
    width: auto;
    height: 100%;
    max-width: 100%;
    border-radius: 3px 3px 3px 3px;
    margin-bottom: -4px;
  }

  .item-main {
    flex-basis: 75%;
    display: flex;
    flex-direction: column;
    margin: 0vh 1vw 1vh 1.5vw;
  }

  .item-title {
    font-size: 1.5em;
    color: #333;
  }

  .item-subtitle {
    font-size: 1.15em;
    color: #999;
    margin-bottom: 1vh;
  }

  .item-description {
    height: 12vh;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .item-publisher {
    color: #999;
    margin-top: 2vh;
  }

  .single-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 40vw;
  }

  @media (max-width: 1000px) {
    .single-line {
      max-width: 55vw;
    }
  }

  @media (max-width: 600px) {
    .item-description {
      max-height: 4em;
    }
    .search-item {
      max-height: 25vh;
    }
    .single-line {
      max-width: 65vw;
    }
  }
</style>